{% extends 'layout.html' %}
{% block content %}

<div class="wrapper">
    <div class="checkout container">
        <span type="hidden" id="error_message"></span>
        <form id="payment-form" method="post" action="/auth/submit">
            <section>
                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>

            <input type="hidden" id="nonce" name="payment_method_nonce" />
            <input type="hidden" id="transaction_id" name="transaction_id" />
            <button class="button" type="submit" id="submit-button"><span>Submit</span></button>
        </form>
    </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.31.2/js/dropin.min.js"></script>
<script>
    var form = document.querySelector('#payment-form');
    var client_token = '{{ client_token }}';
    var transactionId = '{{ transactionId }}';

    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin'
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }

                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;

                // Add MR transaction Id to the form and submit
                document.querySelector('#transaction_id').value = transactionId;

                form.submit();
            });
        });
    });
</script>
{% endblock %}